<table width="100%" cellspacing="1" class="outer">
  <tr>
    <td colspan="2" class="odd">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="odd" style="text-align:center;"><strong><{$smarty.const._MD_TOPLIST_SITE_PUT_THIS_CODE}></strong></td>
  </tr>
  <tr>
   <td colspan="2" class="odd" style="text-align:center;">
    <textarea cols="50" rows="5">
    
<a href="http://demo.myxoops.org" target="_blank" title="Demo MyXOOPS"><img src="http://demo.myxoops.org/modules/toplist/" alt="xoops toplist" border="0" height="15" width="80"></a>
    </textarea></td>
  </tr>
  <tr>
    <td colspan="2" class="odd">&nbsp;</td>
  </tr>
</table>
