<table width="100%" cellspacing="1" class="outer">
  <tr>
    <th colspan="8" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/add.php"><{$smarty.const._MD_TOPLIST_SLOGAN}></a></th>
  </tr>
</table>
<table width="100%" cellspacing="1" class="outer">
  <tr>
    <th colspan="8" style="text-align:center;"><{$smarty.const._MD_TOPLIST_NAME}></th>
  </tr>
  <tr>
    <td colspan="8" class="odd" style="text-align:center;">&nbsp;</td>
  </tr>
</table>
<table width="100%" cellspacing="1" class="outer">  
<tr>
  	<td class="odd" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/index.php?output=hour"><{$smarty.const._MD_TOPLIST_HOUR}></a></td>
    <td class="odd" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/index.php?output=today"><{$smarty.const._MD_TOPLIST_TODAY}></a></td>
    <td class="odd" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/index.php?output=yesterday"><{$smarty.const._MD_TOPLIST_YESTERDAY}></a></td>
    <td class="odd" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/index.php?output=week"><{$smarty.const._MD_TOPLIST_WEEK}></a></td>
    <td class="odd" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/index.php?output=month"><{$smarty.const._MD_TOPLIST_MONTH}></a></td>
    <td class="odd" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/index.php?output=six_month"><{$smarty.const._MD_TOPLIST_SIX_MONTH}></a></td>
    <td class="odd" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/index.php?output=year"><{$smarty.const._MD_TOPLIST_YEAR}></a></td>
    <td class="odd" style="text-align:center;"><a href="<{$xoops_url}>/modules/toplist/index.php?output=always"><{$smarty.const._MD_TOPLIST_ALWAYS}></a></td>
  </tr>
  <tr>
    <td colspan="8" class="odd" style="text-align:center;">&nbsp;</td>
  </tr>
</table>